---
title: Bitdefender Endpoint Security Tools for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The Bitdefender Endpoint Security Tools for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

<strong><%= modified_date %></strong>

This topic describes the Bitdefender® Endpoint Security Tools (BEST) for Pivotal Cloud Foundry (PCF) tile.

## <a id='overview'></a>Overview

Bitdefender Endpoint Security Tools for PCF allows you to easily deploy Bitdefender GravityZone security
agents to the VMs managed by your PCF deployment.

Bitdefender Endpoint Security Tools for PCF provides an automated way to incorporate
award-winning endpoint security into BOSH-built VM instances upon their creation.
With secured VMs, customers can achieve the following:

+ Protect datacenter and cloud VMs from advanced cyberattacks with layered next-generation security from Bitdefender,
a Forrester® Wave Leader in Endpoint Security Suites and the AV Comparatives® Outstanding Security Product Award winner.

+ Streamline compliance with PCI DSS, HIPAA, Gramm-Leach-Bliley Act (GLBA), GDPR,
  and other regulatory standards calling for an anti-malware solution.

+ Eliminate the time and effort required to manually deploy the agent and apply security policies after the fact.


## <a id='features'></a>Key Features

**Management**

+ Automatic deployment of Bitdefender Endpoint Security Tools by BOSH at the time of VM instantiation.

+ Single-console, single-pane-of-glass security management, and consistent policy enforcement
  across heterogeneous datacenter and cloud infrastructure.

+ Automatic application of security policies at scale and security-license recovery from decommissioned VMs
  in VMware® vSphere, AWS EC2, and Microsoft Azure environments.

+ Compatibility with Splunk and other SIEM platforms (via Syslog) for security-event analysis.

**Security**

Layered next-generation endpoint security delivering, among others, the following advanced capabilities:

+ Dynamic Machine Learning (Local and Cloud-Based)

Leverages proprietary models trained in URL filtering and file analysis on 500M endpoint-sensors
and trillions of samples to maximize efficacy and minimize false positives.

+ HyperDetect Tunable Machine Learning

Allows administrators to adjust threat-detection aggressiveness levels to suit the context
and risk profile of their organization to detect high-probability, high-impact attacks while minimizing false positives on lower-risk threats.

+ Process Inspector

Continuously monitors and scores running processes and system events and tags suspicious activities
to provide proactive, dynamic detection, and remediation of unknown threats.

+ Anti-Exploit

Detects exploitation methods and protects the memory space of browsers, document viewers, media players, and office applications.

+ Sandbox Analyzer

Automatically submits suspicious files from VMs to a cloud or on-premises-based network sandbox for detonation and behavioral analysis.

+ Application Control

Provides both whitelisting (“default deny”) and blacklisting capabilities to restrict the range of applications allowed to run in a VM.

+ Integrated Patch Management Add-On

Provides automatic discovery and characterization of vulnerabilities and the widest range of patches for OSs, applications, and golden images.


## <a id='snapshot'></a>Product Snapshot

The following table provides version and version-support information about Bitdefender Endpoint Security Tools for Pivotal Cloud Foundry (PCF).

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.0.36</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 10, 2019</td>
    </tr>
    <tr>
        <td>Bitdefender agent version</td>
        <td>Latest version available in the GravityZone console</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.3.x, v2.4.x, v2.5.x, and v2.6.x</td>

    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial, CentOS 7, Windows Server 2012 R2, Windows Server 2016</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All IaaS</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>


## <a id='reqs'></a>Requirements

Bitdefender Endpoint Security Tools for PCF requires your usage of a Bitdefender GravityZone product.

By downloading the Bitdefender Endpoint Security Tools for PCF you acknowledge and agree
that the sole purpose of this product is to protect PCF deployments,
which further implies you acquiring a Bitdefender GravityZone product. It
 is available as a 30 days free trial. After trial period expires you are subjected to licensing terms and conditions.

You can request a trial license [here](https://www.bitdefender.com/business/free-trials/)
or by emailing [Bitdefender Enterprise Sales](mailto:enterprisesale@bitdefender.com).


## <a id='prereq'></a>Prerequisites


Bitdefender Endpoint Security Tools for PCF has the following requirements and prerequisites:

+ A PCF operator with administrative rights.

+ A Bitdefender Endpoint Security Tools installation package configured in the GravityZone console for deployment in the PCF environment.

+ To optimize network traffic, install Bitdefender Endpoint Security Tools with the Relay role
  in your IaaS to have a local distribution mirror for installation files and updates.
  For more information, see your GravityZone Administrator's Guide.

+ To use Central Scan, you first must deploy a Security Server in your IaaS.
  Bitdefender Central Scan engine offloads scanning to a Security Server,
  a dedicated VM that deduplicates and centralizes most of the anti-malware functionality
  of anti-malware agents, acting as a scan server.
  For more information, see your GravityZone Administrator's Guide.

+ To use on-access scanning on Linux, Fanotify kernel option must be enabled.
  For more information, see [Fanotify man pages](http://man7.org/linux/man-pages/man7/fanotify.7.html).

+ Make sure the protected VMs have connectivity to your GravityZone environment and Bitdefender Cloud services.
  To ensure Internet connectivity on protected VMs, you can use the `public_ip` VM extension.
  For details, see these knownledge base articles:
    - [Connectivity requirements for Bitdefender GravityZone Cloud](https://www.bitdefender.com/support/bitdefender-gravityzone-(cloud-console)-communication-ports-1256.html)
    - [Connectivity requirements for Bitdefender GravityZone on-premises deployments](https://www.bitdefender.com/support/gravityzone-communication-ports-1132.html)

+ Make sure the protected VMs meet the Bitdefender Endpoint Security Tools system requirements:

    + CPU:

        - Minimum: Intel® Pentium compatible processors, 2.4 GHz.
        - Recommended: Intel® Xeon multi-core CPU, 1.86 GHz or faster.

    + Free RAM Memory at installation: 1024 MB

    + Free disk space required at installation (Antimalware only):
<table class="nice">
    <th>OS Platform</th>
    <th>Central Scan</th>
    <th>Hybrid Scan</th>
    <th>Local Scan</th>

    <tr>
	<td>Linux</td>
        <td>300 MB</td>
	<td>800 MB</td>
	<td>1300 MB</td>
    </tr>
    <tr>
	<td>Windows</td>
        <td>350 MB</td>
	<td>500 MB</td>
	<td>1024 MB</td>
    </tr>

</table>

<p class="note important">
<strong>Note: </strong>
The Linux agent currently installs on the system partition. It is recommended to install Bitdefender Endpoint Security Tools for PCF with Central Scan or Hybrid Scan.</strong></p>
</p>

<p class="note important">
<strong>Note: </strong>
Using fallback engines (such as Central Scan + Local Scan or Central Scan + Hybrid  Scan) or installing additional features requires more resources. For detailed information on system requirements, please check your GravityZone Installation Guide.
</p>
<p class="note important">
<strong>Note: </strong>
Actual RAM and disk usage after installation is lower.
</p>



## <a id='feedback'></a>Feedback

If you have a feature request, questions, or information about a bug, contact
[Bitdefender Business Support](https://www.bitdefender.com/support/contact-us.html?last_page=BusinessCategory).
