---
title: Release Notes for Bitdefender Endpoint Security Tools for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

These are the release notes for Bitdefender Endpoint Security Tools for PCF.

##<a id="ver1"></a> v1.0.36

**Release Date:** May 28, 2019

* Initial Open Beta Release.

####Known Issue

* Exclusions by <strong>Job name and release</strong> do not work when configuring the Bitdefender agent installation.
