---
title: Release Notes for Bitdefender Endpoint Security Tools for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

These are release notes for Bitdefender Endpoint Security Tools for PCF.

##<a id="ver1"></a> v0.0.0

**Release Date:** April 19, 2019

* Initial Beta release.
