---
title: Release Notes for Bitdefender Endpoint Security Tools for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

These are the release notes for Bitdefender Endpoint Security Tools for PCF.

##<a id="ver1"></a> v1.0.29

**Release Date:** April 19, 2019

* Initial release.
