---
title: Troubleshooting Bitdefender Endpoint Security Tools for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

This topic provides instructions for troubleshooting Bitdefender Endpoint Security Tools for PCF.


##<a id='install'></a>Failed Installations

###<a id='install.symptom'></a>Symptom

PCF deployments fail after the installation of the Bitdefender Endpoint Security Tools for PCF tile. 

###<a id='install.explanation'></a>Explanation

This might happen because the Bitdefender Endpoint Security Tools installation on eligible VMs fails.

###<a id='install.solution'></a>Solution

+ Make sure the VM meets the system requirements.

+ Check connectivity from the VM to the deployer selected when configuring the GravityZone package
  (a Relay, Bitdefender Cloud servers or GravityZone on-premises appliance). To troubleshoot this issue, see:

    – [Connectivity requirements for Bitdefender GravityZone Cloud](https://www.bitdefender.com/support/bitdefender-gravityzone-(cloud-console)-communication-ports-1256.html)

    – [Connectivity requirements for Bitdefender GravityZone on-premises deployments](https://www.bitdefender.com/support/gravityzone-communication-ports-1132.html)

For advanced troubleshooting, the Bitdefender support engineers require installation logs:

+ The Linux agent logs to standard error and output at installation time.

+ The Windows agent delivers separate logs in the same location used by BOSH Director to collect them.
Therefore, the logs collected by the BOSH Director for the failing VM deployments will also contain Bitdefender installation logs.

##<a id='no-vm'></a>VMs Not Showing Up in GravityZone

###<a id='no-vm.symptom'></a>Symptom

The VMs from your PCF deployment are not showing up in GravityZone.

###<a id='no-vm.explanation'></a>Explanation

Bitdefender Endpoint Security Tools has not been successfully deployed in your PCF deployment.

###<a id='no-vm.solution'></a>Solution

+ Make sure the VM meets the system requirements.

+ Check the connectivity from the VM to the deployer selected when configuring the GravityZone package
  (a Relay, Bitdefender Cloud servers or GravityZone on-premises appliance). To troubleshoot this issue, see:

    – [Connectivity requirements for Bitdefender GravityZone Cloud](https://www.bitdefender.com/support/bitdefender-gravityzone-(cloud-console)-communication-ports-1256.html)

    – [Connectivity requirements for Bitdefender GravityZone on-premises deployments](https://www.bitdefender.com/support/gravityzone-communication-ports-1132.html)

##<a id='antimalware'></a>Antimalware Issue in GravityZone

###<a id='antimalware.symptom'></a>Symptom

The GravityZone console indicates issues with Antimalware module for PCF VMs, in the Network inventory.

###<a id='antimalware.explanation'></a>Explanations

+ There is no connectivity to Bitdefender Cloud Servers.

+ There is no connectivity to a Bitdefender Security Server when using the Central Scan engine.

###<a id='antimalware.solution'></a>Solution

Check connectivity from the VM to Bitdefender Cloud Servers or Bitdefender Security Server:

+ [Connectivity requirements for Bitdefender GravityZone Cloud](https://www.bitdefender.com/support/bitdefender-gravityzone-(cloud-console)-communication-ports-1256.html)

+ [Connectivity requirements for Bitdefender GravityZone on-premises deployments](https://www.bitdefender.com/support/gravityzone-communication-ports-1132.html)


##<a id='updates'></a>Failed Updates

###<a id='updates.symptom'></a>Symptom

The update tasks applied to the VMs fail.

###<a id='updates.explanation'></a>Explanation

There is no connectivity from the VMs to the assigned update servers (Relay, Bitdefender Cloud servers or GravityZone on-premises appliance). 

###<a id='updates.solution'></a>Solution

Check the connectivity from the VMs to the assigned update servers:

* [Connectivity requirements for Bitdefender GravityZone Cloud](https://www.bitdefender.com/support/bitdefender-gravityzone-(cloud-console)-communication-ports-1256.html)

* [Connectivity requirements for Bitdefender GravityZone on-premises deployments](https://www.bitdefender.com/support/gravityzone-communication-ports-1132.html)


