---
title: Managing Protection from GravityZone
owner: Partners
---

<strong><%= modified_date %></strong>

This topic provides instructions for troubleshooting Bitdefender Endpoint Security Tools for PCF.


##<a id='install'></a>Failed Installations

###<a id='install.symptom'></a>Symptom



Following the installation of Bitdefender Endpoint Security Tools for PCF tile, PCF deployments will fail if the Bitdefender Endpoint Security Tools installation on eligible virtual machines fails.




**This topic should include any instructions for how to use the service or dashboard created by the tile. 
Give procedures for how to perform the different functions offered by your product and provide screenshots where necessary.** 

**You can also use this section to include information about Architecture and Troubleshooting for known errors. 
If you include a Troubleshooting section, follow the Symptom/Explanation format used in the 
[Okta Troubleshooting](http://docs.pivotal.io/p-identity/okta/troubleshooting.html) topic**.
