---
title: Managing Protection from GravityZone
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to manage protection on virtual machines with Bitdefender Endpoint Security Tools for PCF, from the GravityZone Control Center console.

Once deployed on the virtual machines from your PCF deployment, Bitdefender Endpoint Security Tools for PCF automatically syncs with the GravityZone Control Center
console to receive configuration policies and tasks and to send status or security events. For detailed information on these topics, refer to your GravityZone Administrator's Guide.

##<a id='check'></a>Check Protected Machines

Protected virtual machines from your PCF deployment will show up in the GravityZone Network inventory. Depending on your IaaS and inventory integrations configured in GravityZone, the virtual machines will show up in GravityZone under your IaaS infrastructure, Active Directory inventory or Custom Groups (in the custom
folder configured in the package settings).

Click a virtual machine in the Network inventory to see if protection is installed and check protection details.

##<a id='manage'></a>Manage Protection Settings

Protected virtual machines are assigned a default policy, but you may want to create a dedicated policy for your PCF deployment to configure or customize specific settings, such as:

* Security Servers to connect to, in case Bitdefender Endpoint Security Tools for PCF is configured to use the Central Scan engine.

* Local Relay endpoint to connect to, for optimized update traffic.

* Protection settings specific to your PCF environment.

* Disable Windows agent graphical user interface to minimize resource consumption.

Assign the policy to the folders where the virtual machines from your PCF deployment are added.

##<a id='monitor'></a>Monitor Protection and Security Events</a>

To monitor protection, you can check the activity reports in GravityZone or configure notifications to be sent for specific status or security events via email or syslog.

##<a id='troubleshoot'></a>Troubleshoot Bitdefender Endpoint Security Tools for PCF

###<a id='troubleshoot.install'></a>Failed Installations

Following the installation of Bitdefender Endpoint Security Tools for PCF tile, PCF deployments will fail if the Bitdefender Endpoint Security Tools installation on eligible virtual machines fails.

**This topic should include any instructions for how to use the service or dashboard created by the tile. 
Give procedures for how to perform the different functions offered by your product and provide screenshots where necessary.** 

**You can also use this section to include information about Architecture and Troubleshooting for known errors. 
If you include a Troubleshooting section, follow the Symptom/Explanation format used in the 
[Okta Troubleshooting](http://docs.pivotal.io/p-identity/okta/troubleshooting.html) topic**.
