---
title: Managing Protection from GravityZone
owner: Partners
---

<strong><%= modified_date %></strong>

This topic provides best practices on using the GravityZone console for managing and monitoring Bitdefender protection installed on the virtual machines from your
PCF deployment. For detailed information, refer to your GravityZone Administrator's Guide.

##<a id='check'></a>Check Protected Machines

Once deployed on the virtual machines from your PCF deployment, Bitdefender Endpoint Security Tools automatically syncs with the GravityZone console to receive configuration policies and tasks and to send status or security events.

Protected virtual machines from your PCF deployment will show up in the GravityZone Network inventory. Depending on your IaaS and inventory integrations configured in GravityZone, the virtual machines will show up in GravityZone under your IaaS infrastructure, Active Directory inventory or Custom Groups (in the custom
folder configured in the package settings).

![GravityZone console](gravityzone-console.png)

Click a virtual machine in the Network inventory to see if protection is installed and check protection details.

##<a id='manage'></a>Manage Protection Settings

Protected virtual machines are assigned a default policy, but you may want to create a dedicated policy for your PCF deployment to configure or customize specific settings, such as:

* Security Servers to connect to, in case Bitdefender Endpoint Security Tools is configured to use the Central Scan engine.

* Local Relay endpoint to connect to, for optimized update traffic.

* Protection settings specific to your PCF environment.

* Disable Windows agent graphical user interface to minimize resource consumption.

Assign the policy to the folders where the virtual machines from your PCF deployment are added.

##<a id='monitor'></a>Monitor Protection and Security Events</a>

To monitor protection, you can check the activity reports in GravityZone or configure notifications to be sent for specific status or security events via email or syslog.




